<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yandex.middle.chat</title>
    <link rel="stylesheet" href="../../../style/index.scss" />
</head>
<body>
    <main class="main-wrapper">
        <div class="profile">
            <nav class="profile__nav">
                <a href="/src/pages/profile/profile/profile.hbs" class="profile__nav-link">
                    <img src="/static/nav-previous.svg" class="profile__nav-link-image">
                </a>
            </nav>
            <div class="profile__main">
                <form class="profile__form" action="post">
                    {{> avatar image-src='/static/profile-placeholder.svg'}}
                    <ul class="profile__data-list">
                        <li class="profile__data-item">
                            {{> input containerClass='profile__data-field' id='oldPassword' type='password' value='Старый пароль' defaultValue='oldPaSs'}}
                        </li>
                        <li class="profile__data-item">
                            {{> input containerClass='profile__data-field' id='newPassword' type='password' value='Новый пароль' defaultValue='NewPaSswds'}}
                        </li>
                        <li class="profile__data-item">
                            {{> input containerClass='profile__data-field' type='password' value='Повторите новый пароль' defaultValue='NewPaSswds'}}
                        </li>
                    </ul>
                    {{> button type='submit' mod='button_primary profile__data-save-button' label='Сохранить'}}
                </form>
            </div>
        </div>
    </main>
</body>
</html>