.modal {
  position: absolute;
  top: 35%;
  left: calc(50% - 170px);
  background-color: #fff;
  z-index: 99999;

  &__content {
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 40px 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 14%);
  }

  &__title {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 43px;
  }

  & .file-input {
    width: 122px;
    margin: 0 auto 45px;
  }

  &__error-message {
    $size: 11px;

    font-size: $size;
    line-height: $size;
    margin-top: 14px;
    color: $warning-color;
  }

  &_error {
    color: $warning-color;
  }

  & .input {
    margin-bottom: 45px;
  }
}
