$warning-color: #FF2F2F;
$main-color: #1E1E1E;
$label-color: #999999;
$border-color: #EAEAEA;
$background-color: #F8F8F8;
$search-color: #EFEFEF;
$primary-color: #3369F3;
$primary-light-color: #E4EDFD;
$white-color: #FFF;

$border-radius-small: 5px;
$border-radius-button: 8px;
$border-radius-big: 12px;
$border-radius-huge: 30px;
$border-radius-circle: 50%;