$warning-color: #ff2f2f;
$main-color: #1e1e1e;
$label-color: #999;
$border-color: #eaeaea;
$background-color: #f8f8f8;
$search-color: #efefef;
$primary-color: #3369f3;
$primary-light-color: #e4edfd;
$white-color: #fff;
$nav-color: #fbfbfb;
$border-radius-small: 5px;
$border-radius-button: 8px;
$border-radius-big: 12px;
$border-radius-huge: 30px;
$border-radius-circle: 50%;
