<div class="modal">
    <div class="modal__content">
        <h3 class="modal__title {{title-class}}">{{title}}</h3>
        {{> input label='Логин' defaultValue='ivanivanov'}}
        {{>button mod='button_primary' label='Добавить'}}
        <p class="modal__error-message">{{error-message}}</p>
    </div>
</div>