<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yandex.middle.chat</title>
    <link rel="stylesheet" href="../../../style/index.scss" />
</head>
<body>
    <main class="main-wrapper">
        <div class="auth register">
            <form action="" class="auth__form">
                <h1 class="auth__title">
                    Регистрация
                </h1>
                <div class="auth__fields">
                    {{> input type='email' id='email' value='Почта' containerClass='auth__field'}}
                    {{> input type='text' id='login' value='Логин' containerClass='auth__field'}}
                    {{> input type='text' id='first_name' value='Имя' containerClass='auth__field'}}
                    {{> input type='text' id='second_name' value='Фамилия' containerClass='auth__field'}}
                    {{> input type='tel' id='phone' value='Телефон' containerClass='auth__field'}}
                    {{> input type='password' id='password' value='Пароль' containerClass='auth__field'}}
                    {{> input type='password' id='password' value='Пароль (ещё раз)' containerClass='auth__field'}}
                </div>
                <div class="auth__buttons register__buttons">
                    {{> button type='submit' label='Зарегистрироваться' mod='button_primary auth__button'}}
                    {{> link value='Войти' href='../login/login.hbs'}}
                </div>
            </form>
        </div>
    </main>
</body>
</html>