.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    $size: 130px;

    position: relative;
    width: $size;
    height: $size;
    margin-bottom: 21px;
    border-radius: 50%;
  }

  &__name {
    $size: 16px;

    font-size: $size;
    line-height: $size;
  }
}
