<div class="avatar {{mod}}">
  <img alt="Аватар пользователя" src="{{imageSrc}}" class="avatar__image" />
  <span class="avatar__change-text">Поменять аватар</span>
  <p class="avatar__name">
    {{name}}
  </p>
</div>
