<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yandex.middle.chat</title>
    <link rel="stylesheet" href="./style/index.scss" />
</head>
<body>
    <div id="root">
        {{> link value='Страница входа' href='./pages/auth/login/login.hbs'}}
        <br/>
        {{> link value='Страница регистрации' href='./pages/auth/register/register.hbs'}}
        <br/>
        {{> link value='500' href='./pages/error/500/500.hbs'}}
        <br/>
        {{> link value='404' href='./pages/error/404/404.hbs'}}
        <br/>
        {{> link value='Чат' href='./pages/chat/chat.hbs'}}
        <br/>
        {{> link value='Профиль' href='./pages/profile/profile/profile.hbs'}}
        <br/>
        {{> link value='Изменить пароль' href='./pages/profile/edit-password/edit-password.hbs'}}
        <br/>
        {{> link value='Изменить данные' href='./pages/profile/edit-data/edit-data.hbs'}}
        <br>
        <br>
        <div class="modals">
            {{> file-modal title='Загрузите файл'}}
            <br>
            {{> file-modal title='Файл загружен'}}
            <br>
            {{> file-modal title='Загрузите файл' error-message='Нужно выбрать файл'}}
            <br>
            {{> file-modal title-class='modal_error' title='Ошибка, попробуйте ещё раз'}}
            <br>
            {{> user-modal title='Добавить пользователя'}}
        </div>
    </div>
</body>
</html>